# System files
.DS_Store
__pycache__/
*.pyc

# Environment
venv/
.venv/
.env

# Project specific
screenshots/
downloaded_screenshots/
wayback_snapshots_*.json
temp/

# IDE
.vscode/
.idea/
node_modules/
.cursor

# Ignore all PNG images in backend/tests
backend/tests/*.png
backend/tests/images/*.png

# Do not ignore scripts and metadata
!backend/tests/snapshot_metadata.json
!backend/tests/upload_images_and_generate_metadata.py
